*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}
:root{
  --base: #fff5df;
  --font:#8a733e;
}

body{
  background-color: var(--base);
  height: 500px;
}
nav{
  
  display: flex;
  justify-content: center;
}
nav li{
  margin:10px ;
  list-style-type: none;
  margin-top: 50px;
}
nav li a{
  cursor: url('icons8-knife-16.png'),auto;
  text-decoration: none;
  color: var(--font);
}
nav li a:hover{
  text-decoration:overline 2px var(--font);
  opacity: 75%;
  width: 50px;
  height: 50px;
}

hr{
  border: 2px solid var(--font);
}
.containt {
  min-width: 30px;
  max-height: 50px;
  background-color: red;
  margin: 10px;
}
@media (max-width:800px)
{
  body{
  background-color: black;
  }

}