#heading
{
    text-transform: uppercase;
    text-align: center;
    background-color: antiquewhite;
}*{
    margin: 0;
    padding: 0;

}
.progress
{
    background-color: red;
    height: 2px;
    animation: load 6s ease-in-out 1;
    position: fixed;
}
@keyframes load {
    0%
    {
        width: 0;

    }
    70%
    {
        width : 60vw;
    }
    100%
    {
        width:100vw;
    }
    
}

