* {
    padding: 0;
    margin: 0;
}

:root {
    --main-bg-color: #3f3fc2;

}

header {
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--main-bg-color);



}

.logo {
    display: flex;
    justify-content: flex-start;
    margin: 0.5vh;

}

/* img{
    border-radius: 100%;
} */
nav {
    display: flex;
    justify-content: space-between;


}

nav ul {
    height: 8vh;
    display: flex;
    justify-self: flex-end;

    align-items: flex-end;
}

nav ul li {
    list-style: none;
    padding: 0 23px;
    


}

nav ul li a {
    color: white;
    text-decoration: none;
    opacity: 80%;
}

nav ul li a:hover {
    color: #9090c1;
    font-size: large;
    font-style: italic;


}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    border-radius: 2px;
    width: 23vw;
    height: 3vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#searchbutton {
    cursor: pointer;
    margin-left: 37vh;
    position: absolute;

    height: 2.5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#searchbutton:hover {
    font-size: 1.7vh;


}

.text-centre {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    min-height: calc(100vh - 58px - 11vh);


}

.item1 {
    height: 51vh;

}

.slider {
    margin: auto;
    width: 50vw;
    margin-top: 1%;
}

.card {
    /* background-color: black; */
    /* color: white; */
    display: flex;
    overflow: scroll;

}

.carditem {
    margin: 1%;

}

footer {
    height: 5vh;
    background-color: var(--main-bg-color);
    color: white;
}