/*
240,234,210
221,229,182
173,193,120
169,132,103
108,88,76
*/
* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: rgb(221, 229, 182);
}
hr{
    color: rgba(0, 0, 0, 0.434);
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(240, 234, 210);
}
.progress
{
    background-color: red;
    height: 2px;
    animation: load 3s ease-in-out 1;
    position: fixed;
}
@keyframes load {
    0%
    {
        width: 0;

    }
    70%
    {
        width : 60vw;
    }
    100%
    {
        width:100vw;
    }
    
}

header {
    background-color: var(--main-bg-color);
    height: 17vh;
    
}

header h1 {
    text-align: center;
    padding: 2%;
    text-transform: uppercase;
}

.header {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    padding: 1%;
    list-style: none;

}

nav ul li a {
    text-decoration: none;
    color: rgb(173, 193, 120);
}

nav ul li a:hover {
    font-size: large;
    font-style: italic;
    color: rgb(169, 132, 103);
}

.container {
    min-height: calc(100vh - 2vh - 17vh);
    /* display: flex; */
    /* justify-content: space-between; */
}
.flex
{
    display: flex;
}
.text-deco
{
    text-decoration: none;
    color: black;
}
.help-seeker {
    box-shadow:2px 3px 19px 0px rgb(108,88,76);
    width: 36vh;
    height: 48vh;
    background-color: rgb(169, 132, 103);
    /* padding: 3%; */
    margin: 2%;
    cursor: pointer;
}
.help-seeker:hover {
    width: 37vh;
    height: 49vh;
    margin: 1%;
    animation: show 0.2s ease-in  1 ;
}
@keyframes show {
    0%
    {
        
        width: 36vh;
        height: 48vh;

    }    
    100%
    {
        margin: 1%;
        width: 37vh;
        height: 49vh;
    }
    }

.image {
    /* display: flex; */
    box-shadow: inset;
    height: 18vh;
    padding: 4%;

}
.triangle-left
{
    width: 36vh;
    height: 0;
    /* background-color: black; */
   
    /* border-top: 100px solid transparent; */
    border-right: 150vh solid rgb(173,193,120); 
    border-bottom: 250px solid transparent;
    text-align: end;
   
    
}

.triangle-left:hover
{
    
    border-top: 120px solid transparent;
    border-right: 152vh solid rgb(173,193,120); 
    border-bottom: 202px solid transparent;
    animation: triangles 0.3s ease-in-out 1 ;

}
@keyframes triangles{
    0%
    {
        
        border-top: 100px solid transparent;
    border-right: 150vh solid rgb(173,193,120); 
    border-bottom: 200px solid transparent;

    }
    
    100%
    {
        border-top: 120px solid transparent;
    border-right: 152vh solid rgb(173,193,120); 
    border-bottom: 202px solid transparent;
    }
    }
.triangle-right
{
    width: 0;
    height: 0;
    /* background-color: black; */
    

    /* border-top: 100px solid transparent; */
    border-left: 150vh solid rgb(173,193,120); 
    border-bottom: 250px solid transparent;
    
    
}
.triangle-right:hover
{
    border-top: 120px solid transparent;
    border-left: 152vh solid rgb(173,193,120); 
    border-bottom: 202px solid transparent;
    animation: triangle 0.3s ease-in-out 1 ;

}
@keyframes triangle{
    0%
    {
        
        border-top: 100px solid transparent;
    border-left: 150vh solid rgb(173,193,120); 
    border-bottom: 200px solid transparent;

    }
    
    100%
    {
        border-top: 120px solid transparent;
    border-left: 152vh solid rgb(173,193,120); 
    border-bottom: 202px solid transparent;
    }
    }

footer {
    background-color: var(--main-bg-color);
    height: 2vh;
    text-align: center;

}