* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aqua;
    display: flex;
    justify-content: center;

}
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position:fixed;
    opacity: 100;
    visibility:visible;
    top: 0;
    left: 0;
    z-index: -1;
     /* Place the video behind other content */
     
}
.loadback{
    animation: loadback 5s ease ;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width:  100vw;
    height: 100vh;
    opacity: 0;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    background-color:#333333 ;
}
@keyframes loadback {
    from{
        opacity: 100;
        visibility: visible;

    }
    to{
        opacity: 0;
        visibility: hidden;
    }
    
}
.loader {
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #333333; */
    /* transition: opacity 0.75s, visibility 0.75s; */
    opacity: 0;
    visibility: hidden;
    animation: loading 4s ease ;
  }
  
  /* .loader--hidden {
    opacity: 0;
    visibility: hidden;
  } */
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    
   
  }
  
  @keyframes loading {
    from {
        opacity: 100;
        visibility: visible;
      transform: rotate(0turn);
    }
    to {
        opacity: 0;
        visibility: hidden;
      transform: rotate(1turn);
    }
  }

/* .d2 {
    height: 100px;
    width: 200px;
    background-color: yellow;
    display: inline-block;
    visibility: hidden;
}

.d3 {
    height: 500px;
    width: 250px;
    background-color: rgb(251, 243, 243);
     display:inline; */
    /* box-shadow: 5px 5px 10px rgb(219, 214, 214);
} */ 

/* .div1 {
    margin: 25vh;
    width: 50vh;
    height: 50vh;
    border-radius: 100%;
    background-color: white;
    display: flex;
    justify-content: center;

} */

.box {

    width: 400px;
    height: 400px;
    background-image: conic-gradient(orange 0%, rgba(230, 230, 236, 0) 1%, rgba(242, 242, 254, 0.108) 81%, rgba(255, 255, 255, 0.079) 81%);
    border-radius: 50%;
    animation: clock 30s infinite;

}

@keyframes clock {
    0% {
        background-image: conic-gradient(orange 0%, rgba(230, 230, 236, 0) 1%, rgba(242, 242, 254, 0.108) 81%, rgba(255, 255, 255, 0.079) 81%);

    }

    5% {
        background-image: conic-gradient(orange 5%, rgba(230, 230, 236, 0) 1%, rgba(242, 242, 254, 0.108) 81%, rgba(255, 255, 255, 0.079) 81%);

    }

    10% {
        background-image: conic-gradient(orange 10%, rgba(230, 230, 236, 0) 1%, rgba(242, 242, 254, 0.108) 81%, rgba(255, 255, 255, 0.079) 81%);

    }

    15% {
        background-image: conic-gradient(orange 15%, rgba(230, 230, 236, 0) 1%, rgba(242, 242, 254, 0.108) 81%, rgba(255, 255, 255, 0.079) 81%);

    }

    20% {
        background-image: conic-gradient(orange 20%, rgba(230, 230, 236, 0) 1%, rgba(242, 242, 254, 0.108) 81%, rgba(255, 255, 255, 0.079) 81%);

    }

    25% {
        background-image: conic-gradient(orange 25%, rgba(230, 230, 236, 0) 1%, rgba(242, 242, 254, 0.108) 81%, rgba(255, 255, 255, 0.079) 81%);

    }

    30% {
        background-image: conic-gradient(orange 30%, rgba(230, 230, 236, 0) 1%, rgba(242, 242, 254, 0.108) 81%, rgba(255, 255, 255, 0.079) 81%);

    }

    35% {
        background-image: conic-gradient(orange 35%, rgba(230, 230, 236, 0) 1%, rgba(242, 242, 254, 0.108) 81%, rgba(255, 255, 255, 0.079) 81%);

    }

    40% {
        background-image: conic-gradient(orange 40%, rgba(230, 230, 236, 0) 1%, rgba(242, 242, 254, 0.108) 81%, rgba(255, 255, 255, 0.079) 81%);
    }

    45% {
        background-image: conic-gradient(orange 45%, rgba(230, 230, 236, 0) 1%, rgba(242, 242, 254, 0.108) 81%, rgba(255, 255, 255, 0.079) 81%);

    }

    50% {
        background-image: conic-gradient(orange 50%, rgba(230, 230, 236, 0) 1%, rgba(242, 242, 254, 0.108) 81%, rgba(255, 255, 255, 0.079) 81%);

    }

    55% {
        background-image: conic-gradient(orange 55%, rgba(230, 230, 236, 0) 1%, rgba(242, 242, 254, 0.108) 81%, rgba(255, 255, 255, 0.079) 81%);

    }

    60% {
        background-image: conic-gradient(orange 60%, rgba(230, 230, 236, 0) 1%, rgba(242, 242, 254, 0.108) 81%, rgba(255, 255, 255, 0.079) 81%);
    }

    65% {
        background-image: conic-gradient(orange 65%, rgba(230, 230, 236, 0) 1%, rgba(242, 242, 254, 0.108) 81%, rgba(255, 255, 255, 0.079) 81%);

    }

    70% {
        background-image: conic-gradient(orange 70%, rgba(230, 230, 236, 0) 1%, rgba(242, 242, 254, 0.108) 81%, rgba(255, 255, 255, 0.079) 81%);

    }

    75% {
        background-image: conic-gradient(orange 75%, rgba(230, 230, 236, 0) 1%, rgba(242, 242, 254, 0.108) 81%, rgba(255, 255, 255, 0.079) 81%);

    }

    80% {
        background-image: conic-gradient(orange 80%, rgba(230, 230, 236, 0) 1%, rgba(242, 242, 254, 0.108) 81%, rgba(255, 255, 255, 0.079) 81%);
    }

    85% {
        background-image: conic-gradient(orange 75%, rgba(230, 230, 236, 0) 1%, rgba(242, 242, 254, 0.108) 81%, rgba(255, 255, 255, 0.079) 81%);

    }

    90% {
        background-image: conic-gradient(orange 90%, rgba(230, 230, 236, 0) 1%, rgba(242, 242, 254, 0.108) 81%, rgba(255, 255, 255, 0.079) 81%);

    }

    95% {
        background-image: conic-gradient(orange 95%, rgba(230, 230, 236, 0) 1%, rgba(242, 242, 254, 0.108) 81%, rgba(255, 255, 255, 0.079) 81%);

    }

    100% {
        background-image: conic-gradient(orange 100%, rgba(230, 230, 236, 0) 1%, rgba(242, 242, 254, 0.108) 81%, rgba(255, 255, 255, 0.079) 81%);
    }

}