* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    /* display: flex; */
}
#body
{
    background-color: white;
    color: black;
}
:root
{
    --main-bg-color:rgb(43, 43, 47);
}

#logo {
    height: 10vh;
}

.fullcontainer {
    display: flex;
}

.three-things {

    background-color: rgb(18, 20, 20);
    margin: 1%;

    border-radius: 7%;
    padding: 2%;


}

a {
    text-decoration: none;
    color: white;
}

#first {
    width: 20vw;
    height: 100vh;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;


}


.yourlibrary {
    background-color: rgb(18, 20, 20);
    margin: 1%;
    margin-top: 2%;
    padding: 3%;
    border-radius: 3%;
    height: 34vh;


    overflow-y: hidden;


}

.createplaylist {
    background-color: white;
    border-radius: 25px;
    color: black;
    width: 214px;
    height: 50px;
    cursor: pointer;
}
.createplaylist:hover
{
    width: 216px;
    height: 52px;
}

.links {
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: white; */
    color: black;
    /* height: 500px; */

}

#link {
    margin: 11px;
}

#invisible {
    opacity: inherit;
    width: 145px;
    height: 47px;
    border-radius: 25px;
    margin-left: 97px;
    margin-top: 48px;
    cursor: pointer;
}
#mode 
{
    width: 50px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 10px;

}
#invisible:hover
{
    width: 147px;
    height: 49px;
}
.content {
    background-color: black;
    height: 30vh;
    margin: 1%;

    /* display: flex;
   flex-direction: column;
   justify-content: space-between; */

    overflow-y: scroll;
    scrollbar-color: black;

}

p {
    margin-bottom: 7%;
    font-size: medium;
}

.content1 {
    background-color: rgb(32, 38, 38);
    width: 29vh;
    height: 18vh;
    border-radius: 5%;
    padding: 5%;
    margin-bottom: 8%;
}

li {
    list-style-type: none;
}

#second {
    border-radius: 5px;
    z-index: 0;
    height: 10vh;
    width: 150vh;
    left: 39vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    float: left;
    color: rgba(255, 255, 255, 0.764);
    background-color: var(--main-bg-color);
    opacity: 85%;
    /* justify-content: end; */
}

#second ul {
    display: flex;
    justify-content: end;
    /* margin: 2%; */

}

hr {
    height: 9vh;

}

#second ul li {
    margin: 5%;

    padding: 0;
    margin-top: 3vh;
}
#second ul li a:hover{
    color: rgb(255, 235, 14);
    opacity: 100%;
    text-decoration: dashed;

}

.container-content {
    height: 27vh;
    width: 20vh;
    background-color: rgb(41, 41, 44);
    margin: 1%;
    /* animation: color-changer 10s infinite; */
    transition: step-start;
    border-radius: 5%;
    padding: 2%;
   
}
.container-content:hover {
    
    background-color: rgb(50, 50, 52);
   
   
}
.container-content p{
    margin: 4%;
}
.image-size
{
    height: 18vh;
    width: 20vh;
}

@keyframes color-changer {
    0% {
        background-color: bisque;
        height: 20vh;
        width: 20vh;

    }

    15% {
        background-color: rgb(147, 117, 81);
        height: 21vh;
        width: 21vh;
    }

    30% {
        background-color: rgb(142, 104, 57);
        width: 20vh;
    }

    45% {
        background-color: rgb(180, 116, 38);
        height: 21vh;
        width: 21vh;
    }

    60% {
        background-color: rgb(217, 132, 27);
        height: 20vh;
        width: 20vh;
    }

    75% {
        height: 21vh;
        width: 21vh;
        background-color: rgb(142, 104, 57);
    }

    100% {
        background-color: rgb(147, 117, 81);
        height: 20vh;
        width: 20vh;
    }


}

.container {
    overflow: scroll;
    scroll-margin-top: 12vh;
    height: 100vh;

}

::-webkit-scrollbar {

    width: 10px;
    height: 0;
}

::-webkit-scrollbar-thumb {

    background: #939393;
}

.content-containere {
    /* margin-top: 12vh; */
    justify-content: center;
    display: flex;
    border-radius: 5px;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    width: 148vh;
    /* margin-left: 39vh; */
    background-color: var(--main-bg-color);

}
.content-containere2 {
    margin-top: 12vh;
    /* justify-content: center; */
    /* display: flex; */
    width: 148vh;
    border-radius: 5px;
    /* flex-direction: row; */
    /* align-content: space-between; */
    /* flex-wrap: wrap; */
    margin-left: 39vh;
    background-color: var(--main-bg-color);

}
.heading
{
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
.heading2:hover
{
    text-decoration: underline;
}
.login {
    display: flex;
}

#login {
    border-radius: 25px;
    width: 81px;
    height: 38px;
    cursor: pointer;
}

#login:hover
{
    width: 83px;
    height: 40px;
}
.others
{
    width: 20vh;
    height: 20vh;
    margin: 2%;
}
.others h4
{
    margin-bottom: 6%;
}
.others li
{
    margin-bottom:2%;
    font-size: 16px;
}
.others a:hover
{
    text-decoration: rgb(187, 106, 0);
}

.others-container
{
    margin: 7%;
    margin-left: 12%;
    display: flex;
    /* justify-content: space-between; */
}
@media screen and ( width : 1594px)
{
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background-color: black;
        color: white;
        /* display: flex; */
    }
    :root
    {
        --main-bg-color:rgb(43, 43, 47);
    }
    
    #logo {
        height: 10vh;
    }
    
    .fullcontainer {
        display: flex;
    }
    
    .three-things {
    
        background-color: rgb(18, 20, 20);
        margin: 1%;
    
        border-radius: 7%;
        padding: 2%;
    
    
    }
    
    a {
        text-decoration: none;
        color: white;
    }
    
    #first {
        width: 37vh;
        height: 100vh;
        background-color: var(--main-bg-color);
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 1;
    
    
    }
    
    .yourlibrary {
        background-color: rgb(18, 20, 20);
        margin: 1%;
        margin-top: 2%;
        padding: 3%;
        border-radius: 3%;
        height: 34vh;
    
    
        overflow-y: hidden;
    
    
    }
    
    .createplaylist {
        background-color: white;
        border-radius: 25px;
        color: black;
        width: 214px;
        height: 50px;
        cursor: pointer;
    }
    .createplaylist:hover
    {
        width: 216px;
        height: 52px;
    }
    
    .links {
        margin-top: 45px;
        display: flex;
        flex-wrap: wrap;
        /* background-color: white; */
        color: black;
        /* height: 500px; */
    
    }
    
    #link {
        margin: 11px;
    }
    
    #invisible {
        opacity: inherit;
        width: 145px;
        height: 47px;
        border-radius: 25px;
        margin-left: 97px;
        margin-top: 48px;
        cursor: pointer;
    }
    #invisible:hover
    {
        width: 147px;
        height: 49px;
    }
    .content {
        background-color: black;
        height: 30vh;
        margin: 1%;
    
        /* display: flex;
       flex-direction: column;
       justify-content: space-between; */
    
        overflow-y: scroll;
        scrollbar-color: black;
    
    }
    
    p {
        margin-bottom: 7%;
        font-size: medium;
    }
    
    .content1 {
        background-color: rgb(32, 38, 38);
        width: 29vh;
        height: 18vh;
        border-radius: 5%;
        padding: 5%;
        margin-bottom: 8%;
    }
    
    li {
        list-style-type: none;
    }
    
    #second {
        border-radius: 5px;
        z-index: 0;
        height: 10vh;
        width: 150vh;
        left: 39vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: fixed;
        float: left;
        color: rgba(255, 255, 255, 0.764);
        background-color: var(--main-bg-color);
        opacity: 85%;
        /* justify-content: end; */
    }
    
    #second ul {
        display: flex;
        justify-content: end;
        /* margin: 2%; */
    
    }
    
    hr {
        height: 9vh;
    
    }
    
    #second ul li {
        margin: 5%;
    
        padding: 0;
        margin-top: 3vh;
    }
    #second ul li a:hover{
        color: rgb(255, 235, 14);
        opacity: 100%;
        text-decoration: dashed;
    
    }
    
    .container-content {
        height: 27vh;
        width: 20vh;
        background-color: rgb(41, 41, 44);
        margin: 1%;
        /* animation: color-changer 10s infinite; */
        transition: step-start;
        border-radius: 5%;
        padding: 2%;
       
    }
    .container-content:hover {
        
        background-color: rgb(50, 50, 52);
       
       
    }
    .container-content p{
        margin: 4%;
    }
    .image-size
    {
        height: 18vh;
        width: 20vh;
    }
    
    @keyframes color-changer {
        0% {
            background-color: bisque;
            height: 20vh;
            width: 20vh;
    
        }
    
        15% {
            background-color: rgb(147, 117, 81);
            height: 21vh;
            width: 21vh;
        }
    
        30% {
            background-color: rgb(142, 104, 57);
            width: 20vh;
        }
    
        45% {
            background-color: rgb(180, 116, 38);
            height: 21vh;
            width: 21vh;
        }
    
        60% {
            background-color: rgb(217, 132, 27);
            height: 20vh;
            width: 20vh;
        }
    
        75% {
            height: 21vh;
            width: 21vh;
            background-color: rgb(142, 104, 57);
        }
    
        100% {
            background-color: rgb(147, 117, 81);
            height: 20vh;
            width: 20vh;
        }
    
    
    }
    
    .container {
        overflow: scroll;
        scroll-margin-top: 12vh;
        height: 100vh;
    
    }
    
    ::-webkit-scrollbar {
    
        width: 10px;
        height: 0;
    }
    
    ::-webkit-scrollbar-thumb {
    
        background: #939393;
    }
    
    .content-containere {
        /* margin-top: 12vh; */
        justify-content: center;
        display: flex;
        border-radius: 5px;
        flex-direction: row;
        align-content: space-between;
        flex-wrap: wrap;
        width: 148vh;
        /* margin-left: 39vh; */
        background-color: var(--main-bg-color);
    
    }
    .content-containere2 {
        margin-top: 12vh;
        /* justify-content: center; */
        /* display: flex; */
        width: 148vh;
        border-radius: 5px;
        /* flex-direction: row; */
        /* align-content: space-between; */
        /* flex-wrap: wrap; */
        margin-left: 39vh;
        background-color: var(--main-bg-color);
    
    }
    .heading
    {
        display: flex;
        justify-content: space-between;
        padding: 1%;
    }
    .heading2:hover
    {
        text-decoration: underline;
    }
    .login {
        display: flex;
    }
    
    #login {
        border-radius: 25px;
        width: 81px;
        height: 38px;
        cursor: pointer;
    }
    
    #login:hover
    {
        width: 83px;
        height: 40px;
    }
    .others
    {
        width: 20vh;
        height: 20vh;
        margin: 2%;
    }
    .others h4
    {
        margin-bottom: 6%;
    }
    .others li
    {
        margin-bottom:2%;
        font-size: 16px;
    }
    .others a:hover
    {
        text-decoration: rgb(187, 106, 0);
    }
    
    .others-container
    {
        margin: 7%;
        margin-left: 12%;
        display: flex;
        /* justify-content: space-between; */
    }
}